<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lineedit_history_choose_library_dialog</key>
	<array>
		<string>/home/fahmida/downloads/Calibre Library</string>
	</array>
	<key>lineedit_history_tag_browser_search</key>
	<array>
		<string>rust programming lang</string>
	</array>
	<key>lineedit_history_tag_list_search_box_Tags</key>
	<array/>
	<key>lineedit_history_viewer-search-panel-expression</key>
	<array>
		<string>variable</string>
		<string>simp</string>
		<string>just</string>
		<string>blog</string>
		<string>freedom</string>
		<string>location 6</string>
		<string>location 630</string>
		<string>bread</string>
		<string>brad</string>
		<string>we're b</string>
		<string>we are b</string>
		<string>we are be</string>
		<string>mini</string>
		<string>care</string>
		<string>wait</string>
		<string>working with others</string>
		<string>army</string>
		<string>there</string>
		<string>interact</string>
		<string>think in terms of how</string>
	</array>
</dict>
</plist>
